/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    color:#555;
    /*background-color: #f5f8fa;*/
    background-color: #f1f1f1!important
}

.grayContainer{
    background-color: #fff;
    padding-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #444;
    color:#EEE;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > section > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}



.fb-icn {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    width: 40px;
    height: 40px;
    background: url('/assets/images/icons.png') 0 -639px no-repeat;
    float: left;
    background-position: 0 -639px;
    border-right: 1px solid #fff;
}

.fb-btn{
    background-color: #3B5A9A;
    height: 40px;
    width: 250px;
    margin: 0 auto;
    cursor:pointer;
}
.fb-btn p{
    color: #fff;
    font-size: 15px;
    line-height: 40px;
}

.lk-icn{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    width: 40px;
    height: 40px;
    background: url('/assets/images/icons.png') 0 -569px no-repeat;
    float: left;
    background-position: 0 -569px;
    border-right: 1px solid #fff;
}
.lk-btn{
    background-color: #117BB8;
    height: 40px;
    width: 250px;
    margin: 0 auto;
    cursor:pointer;
}
.lk-btn p{
    color: #fff;
    font-size: 15px;
    line-height: 40px;
}

.fb-btn a,.fb-btn a:hover,.fb-btn a:visited{
    text-decoration: none;
}
.lk-btn a,.lk-btn a:hover,.lk-btn a:visited{
    text-decoration: none;
}

h1,h2,h3,h4,h5{
   /* font-family: 'Source Sans Pro',  sans-serif;*/
    font-family: 'Orbitron', sans-serif;
    color:#525252;
    -webkit-font-smoothing: antialiased;
}
h2,h1 {font-style: italic;text-transform: uppercase}
h1{ font-size: 25px; color:#ed1b23;word-spacing: 7px;}
h5{font-size: 20px;font-family: 'Source Sans Pro', sans-serif;}
h4{font-size: 14px;}
h3{font-size: 18px;}
h2{ font-size: 22px;}
.titleColor{color:#476AAB!important;}
label{font-weight: normal;}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {font-weight: 300;}

.marginTop10{margin-top: 10px;}
.marginTop20{margin-top: 20px;}
.marginTop0{margin-top: 0px;}
.marginBottom20{margin-bottom: 20px;}
.marginBottom10{margin-bottom: 10px;}
.margin10{margin:10px;}
.margin20{margin:20px;}
.aviso-verifica-icon{font-size:60px; font-weight: 300;}

.navbar{
    background-color: #fff;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color:#222;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: #444;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #ed1b23;
}
.navbar-default .navbar-nav>li>a ,
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:active  {
    color: #444;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #ed1b23;
    border-color: #337ab7;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #ed1b23;
}

.navbar-default .navbar-nav>li>a {
    color:#444;
}
.spaceIcon{margin-right: 10px;}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ed1b23;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ed1b23;
    color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
    color: #fff;
    background: #ed1b23;
}
@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #444;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-brand img{
    width:200px;
    margin-top: -15px;
}

.initialDiv{
    margin-top: 10px;
    margin-bottom: 20px;
}
div.menu-coleccion > ul > li{
    margin-bottom: 5px;
    margin-left: 15px;
}
.menu-coleccion ul li a, .menu-coleccion ul li a:focus,.menu-coleccion ul li a:visited{
    color : #888;
}
.menu-coleccion ul li a:hover,.menu-coleccion ul li a:active{
    color : #969696;
    text-decoration: none;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#imageErrorAlert{
    display: none;
}

.thumbsAuto{
    width: 110px;
    float: none;
    margin: 0px 5px;
}
.errorBorder{
    box-shadow: 0 0 5px rgba(200,0, 0, 0.8);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(200, 0, 0, 0.5);
}
.borderMiddle{
    border-right: 1px #eee solid;
}
.progress {
    height: 20px;
    margin: 5px 0;
}
.boton-borrar{
    display:none;
}



.hompage-thumbnail{
    -webkit-box-shadow: 0px 9px 8px -5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 9px 8px -5px rgba(0,0,0,0.4);
    box-shadow: 0px 9px 8px -5px rgba(0,0,0,0.4);
    overflow: hidden;
    position: relative;
    padding: 3px!important;
    border-radius: 0px!important;
    max-width: 220px;
    min-height: 226px;
    border: 1px #DDD solid;
}


.homepage-thumbnail img{
    max-width:300px;
    max-height:300px;
    min-width: 140px;
    min-height: 140px;
    width: 100%;
    height: auto;
}

.homepage-caption h5{
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
    font-size: 14px;
    text-overflow: ellipsis;
}
.homepage-caption p.precio{
    color:#5cb85c;
    font-family: 'Orbitron', sans-serif;
    margin:0px;
    white-space: nowrap;
}



.homepage-caption p.subastador{
    font-family: sans-serif;
    font-size: 12px;
    color: #666;
    float: left;
}
.homepage-caption{

}

a.no-decoration:hover,a.no-decoration, a.no-decoration:visited,a.no-decoration:link{
    text-decoration: none;
}

h4.lista-coleccion {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#666!important;
    overflow: hidden;
}
.info-adicional{
    display: none;
}

.pointer{
    cursor: pointer;
}

.money{
    color: #5cb85c;
    font-weight: bold;
}

.div-incremento{
    display: none;
}

.ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#B6BAC9 0%, #808080 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #808080;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #808080;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #808080;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #808080;
}

.btn-mio,.btn-mio:visited,.btn-mio:active,.btn-mio:focus{
    font-size: 30px;
    background-color: #ff1919;
    border-color: #d60000;
    padding: 15px;
    color: #fff!important;
    font-weight: bold;
    outline: none;
}

.btn-mio:hover{
    background-color: #b90101;
    border-color: #b90101;
}

.title-subasta{
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

.title-nombre{
    line-height: 16px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}
.icon-color{
    color: #666;
}
.usuario-puja{
    border-bottom: 1px dashed #DDD;
    padding: 5px 20px;
    margin-top: 0px;
}

.usuario-puja .media-left{
    vertical-align: middle;
}
.user-list h4{
    text-align: center;
    margin: 5px;
    text-decoration: none;
}
.usuario-puja a{
    text-decoration: none;

}
.user-list .media-heading{
    text-align: right;
    font-size: 11px;
    text-decoration: none;
}
.bold{
    font-weight: bold;
}

.registrate{
    font-size: 20px;
}

.estilo-jeshua{
    float: right;
    color: #f00;
}

@media all and (min-width: 768px) {
    .hompage-thumbnail{
        width:220px;
        height: 281px;
    }
}

@media all and (min-width: 1200px) {
    .hompage-thumbnail{
        width:165px;
        height: 226px;
    }
}